body{
	font-family: 'Revalia', cursive;
	font-size: 16px;padding-top: 60px;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
    font-family: 'Revalia', cursive;
}

.srv{
	text-align: center;
	margin-top: 60px;

}

.srv-span{
	
	border-bottom: 3px solid #c41c13;
	height: 60px;
	padding-bottom: 20px;
}